{% load static %}

<htm>
	<head>
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <title>Crypto</title>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container-fluid">
<div class="topnav">
  <a class="active" href="{% url 'getJson' %}">Get JSON</a>
  <a href="{% url 'viewAll' %}">View All</a>
  <a href="#contact">View less than Million in total Supply</a>
  <a href="#about">View the ones in less than a dollar</a>
</div>

<div class="container-fluid">
            </div>
          {% block content %}

          {% endblock %}

        </div>
    </body>
</htm>
