{% extends "base.html" %}
{% block content %}

<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th>rank</th>
                <th>Name</th>
                <th>Price in AUD</th>
                <th>Circulating  Supply</th>
                <th>Total Supply</th>
                <th>MAX Supply</th>
                <th>Last 24h volume AUD</th>
                <th>Market Cap AUD</th>

            </tr>
        </thead>

        <tbody>
 {% for key in data %}
            <tr>
                <tr class="alt">

                <td>{{key.rank}}</td>
                <td><img src="https://files.coinmarketcap.com/static/img/coins/32x32/{{key.id}}.png"> <a href="https://coinmarketcap.com/currencies/{{key.id}}/" target="_blank">{{key.id}} </a>("{{key.symbol}}")</td>
                <td> <strong> {{key.priceAudReadable}} </strong>   <br> BTC: {{key.price_btc}}</td>
                <td> {{key.numAvailableReadale}} <br> <strong> ({{key.numAvailable}})  </strong> <br> {{key.available_supply}}</td>
                    <td> {{key.totalSupplyReadale}} <br> <strong> ({{key.totalSupply}}) </strong> <br> {{key.total_supply}}</td>
                <td> Max {{key.maxSupplyReadale}} <br> <strong> ({{key.maxSupply}}) </strong> <br> {{key.max_supply}}</td>
                <td> {{key.lastHoursReadale}} <br> <strong> ({{key.lastHours}}) </strong> <br> {{key.24h_volume_aud}}</td>
                <td> {{key.marketCapReadale}}  <br><strong> ({{key.marketCap}}) </strong> <br> {{key.market_cap_aud}}</td>

            </tr>

{% endfor %}
        </tbody>

    </table>
</div>





{% endblock %}
