{% extends "base.html" %}
{% block content %}

<div class="datagrid">
    <table>
        <thead>
            <tr>
                <th>rank</th>
                <th>Name</th>
                <th>Price in AUD</th>
                <th>Last 24h volume AUD</th>
                <th>Market Cap AUD</th>
                <th>Available Supply</th>
                <th>Total Supply</th>
                <th>MAX Supply</th>

            </tr>
        </thead>

        <tbody>
 {% for key in data %}
            <tr>
                <tr class="alt">

                <td>{{key.rank}}</td>
                <td><img src="https://files.coinmarketcap.com/static/img/coins/32x32/{{key.id}}.png"> {{key.id}} ("{{key.symbol}}")</td>
                <td>{{key.price_aud}}</td>
                <td>{{key.24h_volume_aud}}</td>
                <td>{{key.market_cap_aud}}</td>
                <td>{{key.available_supply}}</td>
                <td>{{key.total_supply}}</td>
                <td>{{key.max_supply}}</td>

            </tr>

{% endfor %}
        </tbody>

    </table>
</div>





{% endblock %}
